* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
header {
  position: absolute;
  width: 1200px;
  height: 101px;
  left: 40px;
  top: 0px;
}
.background-fade-black {
  background: rgba(0, 0, 0, 0.25);
}
.fade-black {
  color: rgba(0, 0, 0, 0.25);
}
.fill-black {
  color: #000000;
}
.background-black {
  background: #000000;
}

.header-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
.lg-text {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}
.md-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.sm-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

#lock-up {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 202px;
  height: 28px;
  left: 0px;
  top: 48px;
}
/* HEADER */
/* brand-name */
.brand {
  width: 75px;
  height: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.challenge {
  width: 129px;
  height: 28px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#hr {
  position: absolute;
  height: 1px;
  left: 0%;
  right: 0%;
  bottom: 0px;
}
#basket {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 56px;
  height: 24px;
  right: 4px;
  top: 48px;
}

.shopping-basket {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.zero {
  display: none;
  width: 9px;
  height: 24px;
}
.body {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 24px;
  width: 24px;
}

.vector {
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 8.42%;
  bottom: 12.5%;
  width: 22px;
  height: 18.98px;
  top: 2.02px;
  left: 1px;
  background-image: url(vector.png);
}
.number {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 48px;
}
.inside-auto-layout {
  flex: none;
  order: 2;
  flex-grow: 0;
}
.overline {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.fill-white {
  color: #ffffff;
}
.background-white {
  background: #ffffff;
}
.product-detail-page {
  position: relative;
  width: 1280px;
  height: 949px;
}
.product-image {
  position: absolute;
  right: 50.94%;
  top: 17.39%;
  bottom: 0%;
  width: 46.82%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  position: absolute;
  width: 588px;
  height: 488px;
  left: 652px;
  top: 165px;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 588px;
  height: 256px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.product-name {
  width: 588px;
  height: 40px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.product-description {
  width: 588px;
  height: 144px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.product-price {
  width: 588px;
  height: 24px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
#product-quantity {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 121px;
  height: 68px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.in-stock {
  width: 73px;
  height: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.control-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 121px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}

.auto-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px;
}

.fill-blue {
  border: 1px solid #3f51b5;
  border-radius: 24px;
}
.inside-auto-layout {
  flex: none;
  order: 2;
  flex-grow: 0;
}
.symbol-size {
  width: 24px;
  height: 24px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.minus {
  left: 20.83%;
  right: 20.83%;
  top: 45.83%;
  bottom: 45.83%;
}
.background-blue {
  background: #3f51b5;
}
.plus {
  left: 20.83%;
  right: 20.83%;
  top: 20.83%;
  bottom: 20.83%;
}
