/* 1-product-detail-page */
position: relative;
width: 1280px;
height: 949px;

/* fill/-white */
background: #FFFFFF;

/* HEADER */
/* brand-name */
width: 75px;
height: 28px;

/* headline-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

/* fill-shade/black-1 */
color: rgba(0, 0, 0, 0.25);
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* challenge-name */
width: 119px;
height: 28px;
/* headline-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
/* fill/-black */
color: #000000;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* hr */
position: absolute;
height: 1px;
left: 0%;
right: 0%;
bottom: 0px;

/* fill-shade/black-1 */
background: rgba(0, 0, 0, 0.25);

/* BASKET vector */
position: absolute;
left: 4.17%;
right: 4.17%;
top: 8.42%;
bottom: 12.5%;
/* fill/-black */
background: #000000;


/* 0 - BASKET COUNT */
position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
/* overline */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.5px;
text-transform: uppercase;
/* fill/-white */
color: #FFFFFF;

/* IMAGE */
position: absolute;
left: 3.12%;
right: 50.94%;
top: 17.39%;
bottom: 0%;

background: url(mackintosh-drumming-orange-dry-waxed-cotton-hooded-jacket-gmm-200_15481794_30254686_1000.png);

/* product-name */
width: 588px;
height: 40px;
/* headline-1 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 40px;
/* identical to box height */
/* fill/-black */
color: #000000;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* product-description */
width: 588px;
height: 144px;
/* body */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
/* fill/-black */
color: #000000;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* PRICE product-description */
width: 588px;
height: 24px;
/* body */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
/* fill/-black */
color: #000000;
/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* stock-level */
width: 73px;
height: 12px;
/* overline */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */
letter-spacing: 1.5px;
text-transform: uppercase;
/* fill-shade/black-1 */
color: rgba(0, 0, 0, 0.25);
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* ADD TO BASKET NUMBER */
width: 9px;
height: 24px;
/* body */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
/* fill/-black */
color: #000000;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* (-)vector */
position: absolute;
left: 20.83%;
right: 20.83%;
top: 45.83%;
bottom: 45.83%;
/* fill/primary-2 */
background: #3F51B5;

/* (+)vector */
position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;
/* fill/primary-2 */
background: #3F51B5;

/* BUTTON */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;

width: 145px;
height: 36px;
/* fill/primary-2 */
background: #3F51B5;
border-radius: 48px;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* btn-text */
width: 113px;
height: 16px;

/* button */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.75px;
text-transform: uppercase;
/* fill/-white */
color: #FFFFFF;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

